.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100dvw;
    border-bottom: 1px solid #E5E7EB;
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    gap: 24px;
    background-color: white;
    z-index: 900;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);;
}

.navbarLeft {
    font-weight: 500;
    gap: 24px;
    display: flex;
    align-items: center;
}
.navbarRight {
    gap: 4px;
    display: flex;
    align-items: center;
}

/* darkMode */
.darkMode.navbarLeft > img {
    filter: invert(1)
}
.darkMode.navbar {
    border-bottom: 1px solid #313131;
}
.darkMode.navbar {
    background-color: black;
}