.dataIndicator {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.currentData {
    font-size: 40px;
}

.positive.difference {
    color: green !important;
}
.negative.difference {
    color: red !important;
}
.neutral.difference {
    color: #979797 !important;
}
.difference {
    font-size: 14px;
}